@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image:url(bgi.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.logo span{
    color: yellowgreen;
}

.navbar{
    margin-left: 440px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

header .button{
    margin-right: 10px;
}

header .button .btn{
    width: 130px;
    padding: 8px;
    border: 2px solid white;
    outline: none;
    background-color:transparent;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.btn:hover{
    scale: 1.1;
    box-shadow: 0 8px 20px white;
    border-radius: 20px;
    outline: none;
}

.hero{
    margin-top: 100px;
    margin-left: 50px;
}

.hero h3{
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.hero h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.hero p{
    width: 40%;
    font-size: 15px;
    /* font-weight: bold; */
    color: gray;
}


.hero .buttton {
    margin-top: 20px;
}
.hero .buttton .h-btn{
    width: 140px;
    padding: 10px;
    border: 2px solid white;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background-color:transparent;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.h-btn:hover{
    scale: 1.1;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 10px 20px yellowgreen;
}